<!--Homepage  -->

<!-- <section class="recent-post">

  <h3>Enumerables</h3>
  <img src="/assets/enumerable_map.jpg" width="695" height="283">
  <p class="recent_post_description">
    Super useful methods that allow you to iterate over arrays...
  </p>

</section> -->
<article class="index">
  <a href="/posts/first_post"><h2>Enumerables</h2></a>

  <div class="enumerable_map-container">
    <a href="/posts/first_post">
     <img src="/assets/enumerable_map.jpg" width="395" height="283"/>
    </a>

  </div>

  <p>
  Super useful methods that allow you to iterate over arrays...
  <p>

</article>



<!-- THIS IS AN HTML COMMENT -->


<!-- <hr>
Params: <%= params.inspect %>
<hr> -->

<!-- <form action="/" method='POST'>
  First Name:
  <input type="text" name="first_name"/><br>

  Last Name:
  <input type="text" name="last_name"/><br>

  Password:
  <input type="text" name="password"/><br>


  <input type="submit"/><br>
</form> -->
