<!--Homepage  -->
<section class="recent_post">

  <h3>Enumerables</h3>
  <img src="/assets/enumerable_map.jpg" width="250" height="200">
  <p class="recent_post_description">
    Super useful methods that allow you to iterate over arrays...
  </p>

</section>




<!-- THIS IS AN HTML COMMENT -->


<!-- <hr>
Params: <%= params.inspect %>
<hr> -->

<!-- <form action="/" method='POST'>
  First Name:
  <input type="text" name="first_name"/><br>

  Last Name:
  <input type="text" name="last_name"/><br>

  Password:
  <input type="text" name="password"/><br>


  <input type="submit"/><br>
</form> -->
