<link rel = "stylesheet" href="/style.css" type =text/css />
<a href="/">Home</a>
<a href="/about-me">About Me</a>
<a href="/post/first_post">First Post</a>
<a href="/post/second_post">Second Post</a>
<hr>

<%= yield %>

<hr>
This is my footer
