<head>
  <link href='http://fonts.googleapis.com/css?family=Rajdhani' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
  <link href="/layout.css" rel="stylesheet">
  <script src="/app.js"></script>
</head>

<!-- Header -->
<body>
  <div class="outter-container">
    <header>
      <h1>{passion: "code", status: "noob"} </h1>

      <nav class="main-links">
        <a href="/">Home</a>
        <a href="/about-me">About Me</a>

        <span class="archive"> Archive
          <ul class="dropdown">

            <% @posts.each do |post| %>
              <li><a href="<%= post.url %>"><%= post.title %></a><li>

            <% end %>
          </ul>
        </span>


      </nav>

    </header>

    <section class="about-blog">
      <div class="selfie">
        <img src="/assets/selfie.jpg" width="250" height= "200">
      </div>
      <!-- <hr class="center-line" width=1, size=200> -->
      <div class="blog-description">
        <p>
          Learning to code and loving the challenge. They say teaching is the best form of learning.
          I hope to provide some insight to those who are also diving into the awesome world of Computer Science.
          May you avoid the mistakes I spent hours stress snacking over.

          <!-- For the next year a student at <a href="http://twitter.com/rkeblitis" target="_blank">Ada Developers Academy</a> -->
        </p>
      </div>

    </section>

    <aside class="sm">
      <ul class="sm-links">

        <a href="http://twitter.com/rkeblitis" target="_blank">
         <img src="/assets/twitter_icon_black.jpg" width= 35px height= 35px>
        </a>


        <a href="https://www.facebook.com/rachellechristina" target="_blank">
          <img src="/assets/facebook_icon_black.jpg" width= 35px height= 35px>
        </a>

        <a href="https://github.com/rkeblitis" target="_blank">
          <img src="/assets/github_icon.jpg" width= 35px height= 35px>
        </a>

      </ul>

    </aside>

    <div class="body-container">
      <%= yield %>
    </div>
  </div>


</body>
